.list-group-item {
    display: block;
    padding: 0.25rem 0.5rem;
}

.list-group-item > .btn {
    font-weight: unset;
    font-size: unset;
    padding: unset;
    border: unset;
    margin-right: 3px;
}

$size: 40px;
.damage-class {
    height: $size;
    width: $size;

    &-small {
        height: 2 * $size / 3;
        width: 2 * $size / 3;
    }
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

// TODO: remove need to set max-height. Should only be as tall as the parent...
.move-list-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    max-height: 320px;
}

.move-list {
    overflow: auto;
}