.flavourTextContainer {
    margin-top: 4px;
}

.flavourTextVersionName {
    padding: 0px 5px;
}

.flavourText {
    padding: 0px 5px;
}

.flavourTextItem {
    flex: 1;
    flex-direction: column;
}