.evolution-chain {
    height: inherit;
    width: inherit;
    margin-top: 4px;
}

.evolution-tree-item {
    display: flex;
}

.species-button {
    display: block;
    font-size: 8pt;
    padding-top: 0px;
    padding-bottom: 0px;
}

.transition {
    display: flex;
    font-size: 24pt;
    margin-top: 15px;
}

.transition-button {
    font-size: 24pt;
    padding-top: 0px;
    padding-bottom: 0px;
}