.evolutionTree {
    margin-left: 5px;
}

.evolutionTreeNode {
    margin-left: 20px;
}

.evolutionTreeSpeciesContainer {
    display: flex;
    align-items: center;
}

.evolutionTreeSpeciesButton {
    text-align: left;
    border: 0px;
    padding: 0px;
}

$dim: 20px;
.evolutionTreeOpenButton {
    width: $dim;
    height: $dim;
    padding: unset;
}

$dim: 96px;
.evolutionTreeSprite {
    height: $dim;
    width: $dim
}

.evolutionTreeTransition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transitionIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

$buttonSize: 24px;
.transitionButton {
    width: $buttonSize;
    height: $buttonSize;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: black;
    border: 0px;
}