li > .form-check-input {
    margin-left: 0px;
}

li > .form-check-label {
    margin-left: 1.25rem;
    font-size: 10pt;
}

.filter-item {
    color: black;
    text-align: left;
    padding: 0.25rem 0.5rem;
}