@import "../../styles/types.scss";

.efficacyListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($typeIconWidth, 1fr));
}

.efficacy {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10pt;
}

.multiplier {
    &-super {
        color: orange;

        &-extra {
            color: red;
        }
    }

    &-notvery {
        color: green;

        &-extra {
            color: limegreen;
        }
    }

    &-immune {
        color: deepskyblue;
    }
}