.encountersListGroup {
    overflow-y: scroll;
}

.encountersListGroup > .list-group-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

.encountersListGroup > .list-group-item .btn {
    font-weight: unset;
    font-size: unset;
    padding: unset;
    border: unset;
    margin-right: 3px;
}