.evolution-chain {
    display: inline-flex;
    height: inherit;
    width: inherit;
    margin-top: 4;
}

.chain-member {
    display: block;
    font-size: 10pt;
}

.transition {
    display: grid;
    text-align: center;
}

.chain-separator {
    margin-top: 0;
    margin-bottom: 0;
}