@mixin flex {
    display: flex;
}

@mixin flex-center {
    @include flex;
    align-items: center;
    justify-content: center;
}

.flex {
    @include flex;

    &-center {
        @include flex-center;
    }
}

$margin: 10px;
.margin-right {
    margin-right: $margin;
}

.margin-bottom {
    margin-bottom: $margin;
}

$minWidth: 250px;
.version-group-select {
    min-width: $minWidth;
}