@mixin flex {
    display: flex;
}

@mixin flex-center {
    @include flex;
    align-items: center;
    justify-content: center;
}

.flex {
    @include flex;

    &-center {
        @include flex-center;
    }

    &-end {
        @include flex;
        justify-content: flex-end;
    }
}

$margin: 10px;
.margin-right {
    margin-right: $margin;
}

.margin-bottom {
    margin-bottom: $margin;

    &-small {
        margin-bottom: $margin / 2;
    }
}

$minWidth: 270px;
.version-group-select {
    min-width: $minWidth;
}