$fontSize: 9pt;
.baseStatFilter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: $fontSize;
}

.baseStatFilterLabel {
    margin-bottom: 0px;
}

.activeCheckbox {
    position: unset;
    margin-top: unset;
    margin-left: unset;
}

.baseStatFilterInput {
    width: 30%;
    height: calc(1.5em + 0.25rem + 2px);
    font-size: $fontSize;
    padding: 0rem 0.375rem;
}